APP_REPOSITORY_POSTGRES_ADDRESS=<host>:<port>
APP_REPOSITORY_POSTGRES_NAME=<database-name>
APP_REPOSITORY_POSTGRES_USERNAME=<database-user>
APP_REPOSITORY_POSTGRES_PASSWORD=<database-password>

APP_PROCESSOR_WEB_SERVER_LISTEN_PORT=8082

APP_MONITOR_LOG_LEVEL=debug
APP_MONITOR_ENVIRONMENT=development
